@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~react-toastify/dist/ReactToastify.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .text-outline-black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .blue1 {
    color: #2463EB;
  }
}
/* Hide the vertical scrollbar while keeping scrolling functional */
html {
  scrollbar-width: none; /* For Firefox */
  overflow-y: scroll; /* Ensures the content is scrollable */
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Keep the content scrollable */
}

::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
